@import "../../style/themes/default";
@import "../../style/mixins/index";

@timeline-prefix-cls: ~"@{ant-prefix}-timeline";
@timeline-color: @border-color-split;

.@{timeline-prefix-cls} {
  list-style: none;
  margin: 0;
  padding: 0;

  &-item {
    position: relative;
    padding: 0 0 (1.2 * @unit);
    list-style: none;
    margin: 0;

    &-tail {
      position: absolute;
      left: (0.5 * @unit);
      top: 0;
      height: 100%;
      border-left: (0.2 * @unit) solid @timeline-color;
    }

    &-pending &-tail {
      display: none;
    }

    &-head {
      position: absolute;
      width: (1.2 * @unit);
      height: (1.2 * @unit);
      background-color: @component-background;
      border-radius: (10 * @unit);
      border: (0.2 * @unit) solid transparent;
      &-blue {
        border-color: @primary-color;
        color: @primary-color;
      }
      &-red {
        border-color: @error-color;
        color: @error-color;
      }
      &-green {
        border-color: @success-color;
        color: @success-color;
      }
    }

    &-head-custom {
      position: absolute;
      text-align: center;
      width: (4 * @unit);
      left: -(1.4 * @unit);
      line-height: 1;
      margin-top: (0.6 * @unit);
      border: 0;
      height: auto;
      border-radius: 0;
      padding: (0.3 * @unit) 0;
      font-size: @font-size-base;
      transform: translateY(-50%);
    }

    &-content {
      padding: 0 0 (1 * @unit) (2.4 * @unit);
      font-size: @font-size-base;
      position: relative;
      top: -(0.3 * @unit);
    }

    &-last {
      .@{timeline-prefix-cls}-item-tail {
        border-left: (0.2 * @unit) dotted @timeline-color;
        display: none;
      }
      .@{timeline-prefix-cls}-item-content {
        min-height: (4.8 * @unit);
      }
    }
  }

  &&-pending &-item-last &-item-tail {
    display: block;
  }
}
