@import "../../style/themes/default";
@import "../../style/mixins/index";
@tab-prefix-cls: ~"@{ant-prefix}-tabs";

// card style
.@{tab-prefix-cls} {
  &&-card > &-bar &-nav-container {
    height: (3.2 * @unit);
  }
  &&-card > &-bar &-ink-bar {
    visibility: hidden;
  }
  &&-card > &-bar &-tab {
    margin: 0;
    border: @border-width-base @border-style-base @border-color-base;
    border-bottom: 0;
    border-radius: @border-radius-base @border-radius-base 0 0;
    transition: all 0.3s @ease-in-out;
    background: @tabs-card-head-background;
    margin-right: (0.2 * @unit);
  }
  &&-card > &-bar &-tab {
    padding: (0.5 * @unit) (1.6 * @unit) (0.4 * @unit);
    transition: all 0.3s @ease-in-out;
  }
  &&-card > &-bar &-tab-active {
    background: @component-background;
    border-color: @border-color-base;
    color: @primary-color;
    padding-bottom: (0.5 * @unit);
  }
  &&-card > &-bar &-tab-inactive {
    padding: 0;
  }
  &&-card > &-bar &-nav-wrap {
    margin-bottom: 0;
  }
  &&-card > &-bar &-tab .@{iconfont-css-prefix}-close {
    color: @text-color-secondary;
    transition: all .3s;
    .iconfont-size-under-12px((1 * @unit));
    margin-right: 0;
    opacity: 0;
    position: absolute;
    right: (0.2 * @unit);
    top: 50%;
    margin-top: -(0.5 * @unit);
    overflow: hidden;
    text-align: center;
    border-radius: (0.2 * @unit);
    width: (1.4 * @unit);
    height: (1.4 * @unit);
    line-height: 1;
    &:hover {
      color: @heading-color;
    }
  }

  &&-card &-content > &-tabpane,
  &&-editable-card &-content > &-tabpane {
    transition: none!important;
    &-inactive {
      overflow: hidden;
    }
  }

  &&-card > &-bar &-tab:hover .@{iconfont-css-prefix}-close {
    opacity: 1;
  }

  &-extra-content {
    float: right;
    line-height: (3.2 * @unit);

    .@{tab-prefix-cls}-new-tab {
      width: (2 * @unit);
      height: (2 * @unit);
      line-height: (2 * @unit);
      text-align: center;
      cursor: pointer;
      border-radius: @border-radius-base;
      border: @border-width-base @border-style-base @border-color-base;
      font-size: @font-size-base;
      .iconfont-size-under-12px((1 * @unit));
      color: @text-color-secondary;
      transition: color 0.3s ease;
      &:hover {
        color: #404040;
      }
    }
  }

  // https://github.com/ant-design/ant-design/issues/4669
  &-vertical&-card > .@{tab-prefix-cls}-bar {
    .@{tab-prefix-cls}-nav-container {
      height: auto;
    }
    .@{tab-prefix-cls}-tab {
      border-bottom: @border-width-base @border-style-base @border-color-base;
      margin-bottom: (0.8 * @unit);
      &-active {
        padding-bottom: (0.4 * @unit);
      }
      &:last-child {
        margin-bottom: (0.8 * @unit);
      }
    }
  }

  &-vertical&-card&-left > .@{tab-prefix-cls}-bar {
    .@{tab-prefix-cls}-nav-wrap {
      margin-right: 0;
    }
    .@{tab-prefix-cls}-tab {
      border-right: 0;
      border-radius: @border-radius-base 0 0 @border-radius-base;
      margin-right: (0.1 * @unit);
      &-active {
        margin-right: -(0.1 * @unit);
        padding-right: (1.8 * @unit);
      }
    }
  }

  &-vertical&-card&-right > .@{tab-prefix-cls}-bar {
    .@{tab-prefix-cls}-nav-wrap {
      margin-left: 0;
    }
    .@{tab-prefix-cls}-tab {
      border-left: 0;
      border-radius: 0 @border-radius-base @border-radius-base 0;
      margin-left: (0.1 * @unit);
      &-active {
        margin-left: -(0.1 * @unit);
        padding-left: (1.8 * @unit);
      }
    }
  }
}
