@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "../../checkbox/style/mixin";

@transfer-prefix-cls: ~"@{ant-prefix}-transfer";

.@{transfer-prefix-cls} {
  position: relative;
  line-height: @line-height-base;

  &-list {
    font-size: @font-size-base;
    border: @border-width-base @border-style-base @border-color-base;
    display: inline-block;
    border-radius: @border-radius-base;
    vertical-align: middle;
    position: relative;
    width: (18 * @unit);
    height: (20 * @unit);
    padding-top: (3.3 * @unit);

    &-with-footer {
      padding-bottom: (3.3 * @unit);
    }

    &-search {
      &-action {
        color: @disabled-color;
        position: absolute;
        top: (0.4 * @unit);
        right: (0.4 * @unit);
        bottom: (0.4 * @unit);
        width: (2.8 * @unit);
        line-height: (2.6 * @unit);
        text-align: center;
        font-size: @font-size-lg;
        .@{iconfont-css-prefix} {
          transition: all .3s;
          font-size: @font-size-base;
          color: @disabled-color;
          &:hover {
            color: @text-color-secondary;
          }
        }
        span& {
          pointer-events: none;
        }
      }
    }

    &-header {
      padding: (0.7 * @unit) (1.5 * @unit);
      border-radius: @border-radius-base @border-radius-base 0 0;
      background: @component-background;
      color: @text-color;
      border-bottom: @border-width-base @border-style-base @border-color-split;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;

      &-title {
        position: absolute;
        right: (1.5 * @unit);
      }
    }

    &-body {
      font-size: @font-size-base;
      position: relative;
      height: 100%;

      &-search-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        padding: (0.4 * @unit);
        width: 100%;
      }
    }

    &-body-with-search {
      padding-top: (3.4 * @unit);
    }

    &-content {
      height: 100%;
      overflow: auto;
      > .LazyLoad {
        animation: transferHighlightIn 1s;
      }

      &-item {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: (0.7 * @unit) (1.5 * @unit);
        min-height: (3.2 * @unit);
        transition: all .3s;
      }

      &-item:not(&-item-disabled):hover {
        cursor: pointer;
        background-color: @item-hover-bg;
      }

      &-item-disabled {
        cursor: not-allowed;
        color: @btn-disable-color;
      }
    }

    &-body-not-found {
      padding-top: 0;
      color: @disabled-color;
      text-align: center;
      display: none;
      position: absolute;
      top: 50%;
      width: 100%;
      margin-top: -(1 * @unit);
    }

    &-content:empty + &-body-not-found {
      display: block;
    }

    &-footer {
      border-top: @border-width-base @border-style-base @border-color-split;
      border-radius: 0 0 @border-radius-base @border-radius-base;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &-operation {
    display: inline-block;
    overflow: hidden;
    margin: 0 (0.8 * @unit);
    vertical-align: middle;

    .@{ant-prefix}-btn {
      display: block;

      &:first-child {
        margin-bottom: (0.4 * @unit);
      }

      .@{iconfont-css-prefix} {
        .iconfont-size-under-12px((1 * @unit));
      }
    }
  }
}

@keyframes transferHighlightIn {
  0% {
    background: @primary-2;
  }
  100% {
    background: transparent;
  }
}
