<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Ant Design Theme Builder">
  <meta name="keywords" content="Ant Design Theme Builder React UI Framework Style">
  <meta name="author" content="Neekey">
  <title>Ant Design Theme Builder</title>
  <link rel="stylesheet/less" type="text/css" href="<%=htmlWebpackPlugin.options.lessHost%>antd/dist/antd.less">
  <script src="<%=htmlWebpackPlugin.options.lessHost%>less/dist/less.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
