<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ant Design Theme Builder</title>
  <base href="/">
  <link rel="stylesheet/less" type="text/css" href="//localhost:8888/node_modules/antd/dist/antd.less">
  <script src="//localhost:8888/node_modules/less/dist/less.js"></script>
</head>
<body>
  <div id="root"></div>
</body>
</html>
